# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Go\ws_im\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
